[submodule "deps/artisanry"]
	path = deps/artisanry
	url = https://github.com/RobertZenz/minetest-australopithecus-artisanry
[submodule "deps/utils"]
	path = deps/utils
	url = https://github.com/RobertZenz/minetest-australopithecus-utils
[submodule "deps/minetest-australopithecus-worldgen"]
	path = deps/minetest-australopithecus-worldgen
	url = https://github.com/RobertZenz/minetest-australopithecus-worldgen
[submodule "deps/worldgen-utils"]
	path = deps/worldgen-utils
	url = https://github.com/RobertZenz/minetest-australopithecus-worldgen-utils
[submodule "deps/worldgen"]
	path = deps/worldgen
	url = https://github.com/RobertZenz/minetest-australopithecus-worldgen
[submodule "deps/spawn-usher"]
	path = deps/spawn-usher
	url = https://github.com/RobertZenz/minetest-australopithecus-spawn-usher
[submodule "deps/voice"]
	path = deps/voice
	url = https://github.com/RobertZenz/minetest-australopithecus-voice
[submodule "deps/sneak-cam"]
	path = deps/sneak-cam
	url = https://github.com/RobertZenz/minetest-australopithecus-sneak-cam.git
