[submodule "deps/artisanry"]
	path = deps/artisanry
	url = https://github.com/RobertZenz/minetest-australopithecus-artisanry
[submodule "deps/utils"]
	path = deps/utils
	url = git@github.com:RobertZenz/minetest-australopithecus-utils.git
[submodule "deps/minetest-australopithecus-worldgen"]
	path = deps/minetest-australopithecus-worldgen
	url = git@github.com:RobertZenz/minetest-australopithecus-worldgen.git
[submodule "deps/worldgen-utils"]
	path = deps/worldgen-utils
	url = git@github.com:RobertZenz/minetest-australopithecus-worldgen-utils.git
[submodule "deps/worldgen"]
	path = deps/worldgen
	url = git@github.com:RobertZenz/minetest-australopithecus-worldgen.git
[submodule "deps/spawn-usher"]
	path = deps/spawn-usher
	url = https://github.com/RobertZenz/minetest-australopithecus-spawn-usher.git
[submodule "deps/voice"]
	path = deps/voice
	url = https://github.com/RobertZenz/minetest-australopithecus-voice.git
